
<section id="about" style="margin-top:50px;">
    <br><br>
    <div class="container">
        <div class="row">
          <div class="col-sm-7 col-md-7">  
              <img src="../../../../../assets/images/bg/cloud-computing-aboutus.jpg" alt="About Us">                              
            
          </div>
          <div class="col-sm-5 col-md-5">                
                <div class="about_content">
                    <h2>Welcome to Remotefiles</h2>
                    <h3 style="color: #006633; border-bottom: #08923a solid 1px; padding-bottom:10px;">Assistance for Sharing & Store Data </h3>
                    <p style="font-size: medium;">Remotefiles, a Service provider of enterprise data transfer in securely manners, and entire web service will available free open for all user. Remotefiles provides also Cloud Storage capabilities for software as a service,space for transform data,it Enviroment as a service for user share information together.</p>
                    <p style="font-size: medium;">Security Policies are deployed and migrated with information & data while processing it, there are various ways where Remotefiles stay with its customers:</p>
                </div>                               
          </div>
        </div>
    </div>
     <hr> <br>
    <div class="container text-left">
        <div class="row">
            <div class="col-md-8 col-md-offset-0">
                <div class="head_title" style=" border-bottom: #08923a solid 1px;">
                    <div class="heading animate-box" style="color: #0b7dda;">  <h2><b>Why Choose Us?</b></h2></div>
                    <p style="font-size: medium; color: #666666;">it provides most flexible platform for instance sharing of user information each together in entire world in one service as securely in manners of peer to peer end point encryption.</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="why_us_item">
                    <span class="fa fa-leaf"></span>
                    <div class="heading animate-box text-org" style=" color: #0b7dda;"><h3><b>We deliver instance Services.</b></h3></div>
                    <p style="font-size: medium;">Provides you instance service of data transfer without any installation of Desktop App inside PC using Our Remotefiles Server.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="why_us_item">
                    <span class="fa fa-futbol-o"></span>
                     <div class="heading animate-box text-org" style=" color: #0b7dda;"><h3><b>Always in Secure way</b></h3></div>
                        <p style="font-size: medium;">Sharing of Data Depend on Client or Sender information it will not shared with our user and file transfer process done in way of encryption.</p>
                </div>
            </div>                  
            <div class="col-md-6 col-sm-6">
                <div class="why_us_item">
                    <span class="fa fa-futbol-o"></span>
                      <div class="heading animate-box text-org" style=" color: #0b7dda;"><h3><b>No Boundary for Data Sharing</b></h3></div>
                    <p style="font-size: medium;">Sharing of Data with Friends at any where of world without submitting of user information at filestore.Services are open for Guest users of filestore.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="why_us_item">
                    <span class="fa fa-group"></span>
                     <div class="heading animate-box text-org" style=" color: #0b7dda;"><h3><b>Open Cloud Store</b></h3></div>
                    <p style="font-size: medium;">Storing of Data on Cloud Store with No Restriction with data limits and it also open for guest of Remotefiles with shared user information for security reasons</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="why_us_item">
                    <span class="fa fa-group"></span>
                     <div class="heading animate-box text-org" style=" color: #0b7dda;"><h3><b>Committed for Privacy</b></h3></div>
                    <p style="font-size: medium;">Data sharing is inbound with privacy of data and user info from third party from Remotefiles.Never Compromise in end to end encryption for security.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="why_us_item">
                    <span class="fa fa-group"></span>
                     <div class="heading animate-box text-org" style=" color: #0b7dda;"><h3><b>Community Platform.</b></h3></div>
                    <p style="font-size: medium;">Provide communication platform for sharing user idea's each other or entire world, it just help you sharing custom information.</p>
                </div>
            </div>                    
        </div>
    </div>
</section>
 <br><br>

