<body style="background-image: url('../../../../../assets/img/bg_image/bg_home_v3.jpeg'); background-size: cover; background-position: center;">
    <div class="container">
        <div class="text-content">
         <h1>
          Remote Files
          <span class="highlight">    
           Transfer <br>
          </span>
          made easy.
         </h1>
         <p>
          Transfer your files securely and efficiently with our remote file transfer service. It's free to get started, no technical knowledge required.
         </p>
         <div class="buttons">
          <a class="btn-primary" href="#">
           Get started
          </a>
          <a class="btn-secondary" href="#">
           Join Us
          </a>
         </div>
              </div>
        <div class="image-content">
         <img alt="file transfer processing" height="200" width="500" src="../../../../../assets/img/bg_image/icons_home1-removebg-preview.png" />
           </div>
    </div>  
    </body>   
    
    <section class="services section_down">
      <div class="container-fluid">
               <div class="row bg-light">
                           <div class="heade text-center bg-light">
                            <h1 class="serviece_header_text_homepage">Our<span class="color"> Features</span></h1>
                            <p>
                            Enjoy flexible features for sharing each together over internet world.
                          </p>
                        </div>
                      </div>
                  
              <br>
              <div class="row">
                <div class="col-md-4">
                      <div class="features-item first-features">
                            <a class="features_subheading_text" href="">No Registration</a>
                           <p class="features_subparagraph_text">No need to sign up here explore our features without an accounts of Remotefiles.</p>
                            
                      </div>
                  </div>
                 <div class="col-md-4">
                      <div class="features-item second-features">
                             <a class="features_subheading_text" href="">Cloud Storage</a>
                           <p class="features_subparagraph_text">Use CloudStore for save files & retrieve any time any where with Safe & flexible.</p>
                       </div>
                  </div>
                  <div class="col-md-4">
                      <div class="features-item first-features">
                             <a class="features_subheading_text" href="">No App for Sharing Files</a>
                           <p class="features_subparagraph_text">Web based Sharing for Files No App installation required into Desktop PC</p>
                     </div>
                  </div>                
              </div>
              <br>
          </div>
      </section> 
      <div class="header">
        <h1 class="serviece_header_text_homepage">Our<span class="color"> Service</span></h1>
        <p>We are here for clients & Our dream to serve best services for each internet user around the world.</p>
        <!-- <a href="#" class="btn">Get Started</a> -->
    </div>
    
    <div class="features container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-6 mb-3" style="margin: 15px;">
                <div class="feature-box">
                    <i class="fas fa-gem"></i>
                    <h3>Files Sharing</h3>
                    <p>Online Files Sharing by Remotefiles web-server with Secure end to end encryption.</p>
                    <a class="btn btn-primary" routerLink="/home" id="Home_Service_FileSharing">Start Now</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 mb-3" style="margin: 15px;">
                <div class="feature-box">
                    <i class="fas fa-laptop"></i>
                    <h3>Cloud Store</h3>
                    <p>Cloud WebStore Save files for Store & Sharing it can be accessible any where any time. .</p>
                    <a class="btn btn-primary" routerLink="/home" id="Home_Service_FileSharing">Up Comming</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 mb-3" style="margin: 15px;">
                <div class="feature-box">
                    <i class="fas fa-laptop"></i>
                    <h3>Chat Room</h3>
                    <p>Online Chats by Virtual-Id with friends without any App into data encryption manners.</p>
                    <a class="btn btn-primary" routerLink="/home" id="Home_Service_FileSharing">Up Comming</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 mb-3" style="margin: 15px;">
                <div class="feature-box">
                    <i class="fas fa-cogs"></i>
                    <h3>Blogs</h3>
                    <p>Community Blogs for remotefiles user to share knowledge & ideas with each other.</p>
                    <a class="btn btn-primary" routerLink="/home" id="Home_Service_FileSharing">Up Comming</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 mb-3" style="margin: 15px;">
                <div class="feature-box">
                    <i class="fas fa-laptop"></i>
                    <h3>Files Converter</h3>
                    <p>Online File Converter by secret encryption with no data loss without any App manners.</p>
                    <a class="btn btn-primary" routerLink="/home" id="Home_Service_FileSharing">Up Comming</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="content">
        <h2>RemoteFiles - Seamless File Sharing Solution</h2>
        <p>RemoteFiles is a modern and reliable file transfer application designed for effortless sharing. Whether you're sending large files, managing secure transfers, or collaborating with your team, FileXfer ensures fast, secure, and user-friendly experiences. Perfect for personal use, businesses, and collaborative projects.</p>
    </div>
    
    <div id="service" class="bg-light section_down">
        <div class="container">
            <div class="col-sm-12">
                <h1 class="serviece_header_text_homepage">What<span class="color"> Customers Say About Us</span></h1>
                <p class="serviece_details_text_homepage">Customer reviews are pieces of feedback given to us for business improve customer's experience with the our service</p>
            </div>
        </div>
    </div> 
    
    <div class="slideshow-container bg-light">
        <!-- Slideshow Item -->
        <div class="mySlides">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div id="testimonial-slider">
                            <div class="testimonial">
                                <div class="testimonial-content">
                                    <p class="description">
                                        No Customer Experience Available here Due to Server Link Failed
                                    </p> 
                                </div>
                                <h4 class="title">Server Admin</h4>
                                <!-- <span class="post">Remotefiles</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Navigation -->
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </div>
    
    <!-- Dots for Slideshow Navigation -->
    <div class="dot-container">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <!-- Add more dots as needed -->
    </div>
    
      